@import "../variables";

.admin-global-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: $space-0 auto;
  gap: 1rem;
  font-family: $primary-font;

  .stats-chart {
    display: none;
  }

  details[open] {
    summary {
      color: #9b084f;
      font-weight: $primary-font-weight;
    }
  }

  .details-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    cursor: pointer;

    summary {
      font-size: $font-size-xxl;
      font-weight: $primary-font-weight;
      color: $color-default;
    }
  }
}

@media screen and (min-width: 768px) {
  .admin-global-container {
    .stats-chart {
      display: block;
    }
  }

  .adminProfile .details-container {
    summary {
      font-size: $font-size-xxl;
    }
  }
}
