@import "../variables";
.adminProfile{
details[open] {
    summary {
      color: #9b084f;
    }
  }
  .details-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    cursor: pointer;

    summary {
      font-size: 1.3rem;
      font-weight: bold;
      color: #0c3944;
    }
  }
}
@media screen and (min-width: 768px) {
 .adminProfile
    .details-container {
      summary {
        font-size: 1.5rem;
      }
    
  }
}