@import "../../variables";

.display-decisions {
  width: 100%;
  margin: 0 auto;
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  cursor: default;

  input {
    border-radius: 40px;
    padding: 0.2rem 0.7rem;
    margin: 1rem;
    background-color: #d9d9d97f;
    border: 1px solid rgb(78, 78, 78);
    width: 100%;
    max-width: 12.5rem;
    outline: none;
    height: 1.3rem;
  }
  table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    thead {
      tr {
        :nth-child(1),
        :nth-child(3),
        :nth-child(4),
        :nth-child(5),
        :nth-child(7) {
          display: none;
        }
        th {
          font-size: $font-size-m;
        }
      }
    }
    tbody {
      > :nth-child(2n + 1) {
        background-color: #d9d9d9a9;
      }
      tr {
        height: 3rem;
        border: 1px solid var(--bleuColor);
        text-align: center;
        vertical-align: middle;
        color: black;
        backdrop-filter: blur(3px);

        :nth-child(1),
        :nth-child(3),
        :nth-child(4),
        :nth-child(5),
        :nth-child(7) {
          display: none;
        }

        td {
          font-size: $font-size-m;
          .viewBtn {
            cursor: pointer;
            display: block;
            color: var(--lightBleuColor);
            background-color: $background-color-base;
            border-radius: $border-radius-xxl;
            border: 1px solid var(--lightBleuColor);
            transition: 0.3s ease-in-out;
            img {
              display: block;
              object-fit: cover;
              height: 1rem;
              width: 1rem;
              border-radius: 50%;
            }
          }
          .viewBtn:hover {
            transform: scale(1.1);
            background: var(--lightBleuColor);
            color: white;
          }
        }
      }
    }
  }
  nav {
    display: flex;
    justify-content: center;
    .pagination {
      display: flex;
      justify-content: center;
      padding: 0;
      width: 20rem;
      .page-item,
      .page-item-number {
        list-style: none;
        margin: 0 1rem;

        button {
          font-size: $font-size-s;
          background-color: $color-default;
          color: $background-color-base;
          border: none;
          padding: 0.3rem;
          cursor: pointer;
        }
      }
      .page-item-number {
        margin: 0 0.2rem;
      }
      .active {
        list-style: none;
        button {
          font-size: $font-size-s;
          background-color: $color-primary;
          color: $background-color-base;
          border: none;
          padding: 0.3rem;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .display-decisions {
    max-width: 80rem;
    table {
      margin: 0 auto;
      max-width: 140rem;
      height: fit-content;
      thead {
        tr {
          :nth-child(4),
          :nth-child(1),
          :nth-child(3),
          :nth-child(5),
          :nth-child(7) {
            display: table-cell;
          }
          th {
            padding: 5px 0 5px 20px;
            text-align: center;
          }
        }
      }
      tbody {
        .picture-container {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 0 5px 20px;
          height: 5rem;
          width: 5rem;

          img {
            display: block;
            object-fit: cover;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
          }
        }
        tr {
          :nth-child(4),
          :nth-child(1),
          :nth-child(5),
          :nth-child(3),
          :nth-child(7) {
            display: table-cell;
          }

          td {
            text-align: center;
            padding: 5px 0 5px 20px;
            .viewBtn {
              border-radius: $border-radius-xxl;
              padding: 10px 10px;
              margin: $space-s;
            }
          }
        }
      }
    }
  }
  .nav {
    button {
      font-size: $font-size-xl;
    }
  }
}
