@import "../../variables";

.display-decisions {
  width: 100%;
  margin: 0 auto;
  font-family: $primary-font;
  display: flex;
  flex-direction: column;

  input {
    border-radius: 40px;
    padding: 0.2rem 0.7rem;
    margin: 1rem auto;
    background-color: #d9d9d97f;
    border: 1px solid rgb(78, 78, 78);
    width: 100%;
    max-width: 12.5rem;
    outline: none;
    height: 1.3rem;
  }
  table {
    width: 100%;
    margin: 0 auto;
    thead {
      tr {
        :nth-child(1),
        :nth-child(3),
        :nth-child(4),
        :nth-child(5),
        :nth-child(7) {
          display: none;
        }
        th {
          font-size: $font-size-m;
        }
      }
    }
    tbody {
      tr {
        height: 3rem;
        border: 1px solid var(--bleuColor);
        box-shadow: 0px 15px 20px -10px #d8d8d8;
        text-align: center;
        vertical-align: middle;
        color: #4249af;
        backdrop-filter: blur(3px);

        :nth-child(1),
        :nth-child(3),
        :nth-child(4),
        :nth-child(5),
        :nth-child(7) {
          display: none;
        }

        td {
          font-size: $font-size-m;
          .viewBtn {
            cursor: pointer;
            background-color: $background-color-base;
            color: var(--lightBleuColor);
            border-radius: $border-radius-xxl;
            border: 1px solid var(--lightBleuColor);
            transition: 0.3s ease-in-out;
            display: block;
            img {
              display: block;
              object-fit: cover;
              height: 1rem;
              width: 1rem;
              border-radius: 50%;
            }
          }
          .viewBtn:hover {
            transform: scale(1.1);
            background: var(--lightBleuColor);
            color: white;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .display-decisions {
    max-width: 80rem;
    table {
      margin: 0 auto;
      max-width: 140rem;
      height: fit-content;
      thead {
        tr {
          :nth-child(4),
          :nth-child(1),
          :nth-child(3),
          :nth-child(5),
          :nth-child(7) {
            display: table-cell;
          }
          th {
            padding: 5px 0 5px 20px;
            text-align: center;
          }
        }
      }
      tbody {
        .picture-container {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 0 5px 20px;
          height: 5rem;
          width: 5rem;

          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }
        }
        tr {
          :nth-child(4),
          :nth-child(1),
          :nth-child(5),
          :nth-child(3),
          :nth-child(7) {
            display: table-cell;
          }

          td {
            text-align: center;
            padding: 5px 0 5px 20px;
            .viewBtn {
              border-radius: $border-radius-xxl;
              padding: 10px 13px;
              margin: $space-s;
            }
          }
        }
      }
    }
  }
}
