@import "../../variables";

.user-management {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95vw;
  margin: auto;
  padding: $space-s 0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: $font-size-m;
  line-height: $font-size-s;
  color: $color-default;
  background-color: #F2F2F2;
  border-radius: $space-xs;
  box-shadow: 5px 9px 19px 8px rgba(0, 0, 0, 0.25);

  .input-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;

    .input-title {}

    .input-fields {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      >label {
        margin-top: $space-xs;
        font-size: $font-size-s;

        >input {
          margin-top: $space-xs;
          border-radius: $space-xxs;

        }

        input[type=email] {
          width: 15rem;
        }


        >select {
          margin-top: $space-xs;
          margin-right: $space-m;
          border-radius: $space-xxs;
        }

      }
    }
  }
}