@import "../variables.scss";

  .bottom-left-deco {
    width:20rem;
    height: 20rem;
    position:fixed;
    right: 100;
    bottom: 0; 
  }
  
  .top-left-deco {
    display: none;
  }
  
  .top-right-deco {
    display: none;
  }
  
  .bottom-right-deco {
    display: none;
  }


@media screen and (min-width: 768px) {
  .bottom-left-deco {
    height: 30rem;
    width: 30rem;
  }
  .top-left-deco {
    display: initial;
    width: 25rem;
    height: 25rem;
    position:fixed;
    right: 100;
    top: 100px;
  }
  .top-right-deco {
    display: initial;
    width: 10rem;
    height: 10rem;
    position:fixed;
    right: 30px;
    top: 5%;
  }
  .bottom-right-deco {
    display: initial;
    width: 25rem;
    height: 30rem;
    position:fixed;
    right: -50px;
    bottom: 0px;
    transform:rotate(10deg);
  }
}

@media screen and (min-width: 1024px) {
  .top-left-deco {
    top:20px;
  }
  .top-right-deco {
    height: 12rem;
    width:12rem;
    right:90px;
  }
}

@media screen and (min-width: 1024px) {
  .bottom-left-deco {
    height: 35rem;
    width: 35rem;
  }

  .top-left-deco {
    height: 30rem;
    width: 30rem;
  }

  .top-right-deco {
    height: 16rem;
    width:16rem;
  }

  .bottom-right-deco {
    width: 35rem;
    height: 40rem;
  }
}