@import "../variables.scss";

.timeline-container {
  position: relative;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  progress {
    width: 15rem;
    height: 1rem;
    rotate: 90deg;
    vertical-align: 0rem;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 15px;
    &::-webkit-progress-bar {
      background-color: $light-yellow;
      border-radius: 15px;
      border: 1px solid $border-color-active;
    }
    &::-webkit-progress-value {
      border-radius: 15px;
      background: $sage-green;
    //   box-shadow: 1px 1px 6px $color-default;

    }
  }
  .date-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    align-items: center;

    .date-point {
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 1.3rem;
      border-left: 1px solid $border-color-active;
      border-right: 1px solid $border-color-active;
      background-color: $light-yellow;
    }
    .date-point-similar {
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 1.3rem;
      border-left: 1px solid $border-color-active;
      border-right: 1px solid $border-color-active;
    //   box-shadow: 1px 1px 6px $color-default;
      background-color: $sage-green;
    }
    .date-text {
      height: 10px;
      width: 100px;
      text-align: center;
      font-size: $font-size-xs;
    }
    .date-infos {
      height: 10px;
      width: 100px;
      text-align: center;
      font-size: $font-size-xs;
    }
  }
}
