@import "./variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: $space-s $space-m;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;

  .logo-container {
    margin: $space-xs;

    img {
      width: 100px;
    }
  }
}

.login-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $space-xs;
  gap: 0.5rem;
  border: 1px solid #eff2f7;
  border-radius: $space-l;
  cursor: pointer;
}

.login-button:hover:focus:active {
  border: 1px solid black;
}

.login-menu-hidden {
  display: none;
}

.login-menu {
  position: absolute;
  top: 10%;
  right: 7%;
  background-color: whitesmoke;
  padding: $space-s $space-m;
  color: $color-default;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);

  > :first-child {
    &> :last-child {
      padding-bottom: $space-s;
    }
  }

  &:before {
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
  }

  .login-menu-app {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $border-color-base;

    li {
      display: flex;
      justify-content: flex-start;
      align-items: start;
      margin-bottom: 5px;

      svg {
        padding-top: $space-xs;
        cursor: pointer;
      }
    }

    .li-text {
      color: $color-default;
      padding-left: $space-xs;
      cursor: pointer;
    }
  }

  .login-menu-user {
    list-style-type: none;
    padding: 0;
    margin: 0;

    > :first-child {
      padding-top: $space-xs;
    }

    li {
      display: flex;
      justify-content: flex-start;
      align-items: start;
      color: $color-default;
      padding-top: $space-xs;
    }
  }

  .li-text {
    color: $color-default;
    padding-top: $space-xs;
    cursor: pointer;
  }
}

.burger-icon {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  margin: 10px 0px 10px 15px;
  z-index: 10;

  svg {
    path {
      color: $color-default;
    }
  }
}

.img-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0.2rem;
}

.link-style {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-default;
}
