@import "./variables";

.all-decisions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  font-family: $primary-font;

  .timeline-zone {
    height: 15vh;
  }

  h1 {
    color: $color-default;
    width: 100%;
    margin: $space-0;
    text-align: start;
    font-size: $font-size-xxxl;
  }
  hr {
    color: #e0e4eb;
  }

  .infos-status-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    details[open] {
      summary {
        color: #9b084f;
      }
    }
    .details-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      cursor: pointer;

      summary {
        font-size: $font-size-xl;
        font-weight: $primary-font-weight;
        color: $color-default;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .infos-status-container {
      .details-container {
        summary {
          font-size: $font-size-xxl;
        }
      }
    }
  }
  .cards-decision-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: $font-size-xxxxxl;
    }
  }

  @media screen and (min-width: 1024px) {
    .cards-decision-container {
      width: 90%;
      margin: $space-0 auto;
    }
  }
}
