.all-decisions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  hr {
    color: #e0e4eb;
  }

  .decisions-container {
    width: 100%;
    .infos-status-container {
      display: flex;
      align-items: center;
      gap: 1rem;

      h1 {
        margin: 0;
        color: #0c3944;
      }

      i {
        transform: rotate(-90deg);
        font-size: 1.8rem;
        color: #0c3944;
      }
    }

    .cards-decision-container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .cards-decision-container {
      width: 90%;
      margin: 0 auto;
    }
  }
}
