@import "./variables.scss";

.logInContainer {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
  top: 20vh;
  left: 12vw;
  height: 50vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logIn-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cookie-obligation{
      display: block;

    }
    .hide{
      display: none;
    }

    label {
      position: relative;

      p {
        color: $color-default;
        font-size: $font-size-m;
        margin: 0;
        font-family: $primary-font;
        font-weight: $primary-font-weight;
      }
    }

    input {
      border-radius: $border-radius-s;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      height: 2rem;
      margin: 5% 0 15% 0;
      font-family: $primary-font;
      border: 1px solid $color-default;
    }
  }

  p, span {
    color: #f3976b;
    font-size: $font-size-s;
    font-family: $primary-font;
    font-weight: $primary-font-weight;
  }
  .reinicialize-password{
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button {
    background-color: #196c84;
    color: $background-color-base;
    border-radius: $border-radius-m;
    padding: 0 10%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    
    
    h2 {
      font-size: $font-size-s;
      margin: 0.5rem 0rem 0.5rem 0rem;
      font-family: $primary-font;
      font-weight: $primary-font-weight;
    }
  }
  :hover {
    color: #196c84;
    background-color: $background-color-base;
    transition: 0.2s ease-in-out;
  }
}

@media screen and (min-width: 768px) {
  .logInContainer {
    left: 30%;
    top: 30vh;
    width: 45vw;
    height: 35vh;

    input {
      width: 25vw;
    }

    button {
      margin: 0 0 3% 0;
    }
    
    .reinicialize-password {
      max-height: 30px;
      max-width: 205px;
    }
    :hover {
      background-color: transparent;
    }
  }
}

@media screen and (min-width: 1024px) {
  .logInContainer {
    top: 25vh;
    width: 35vw;
    height: 55vh;
    left:30vw;
    .logInUsername {
      label {
        p {
          font-size: $font-size-l;
        }
      }  
    }

    button {
      min-width: 12rem;
      h2 {
        font-size: $font-size-l;
      }
    }

    p,span {
      font-size: $font-size-l;
    }

  }
}