.post-container {
  margin: 2rem;

  .post-decision{
    color:#9B084F;

  }

  .decision-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    color: grey;
    

    label {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 0.2rem;
      
    }

    #Title_decision {
      align-items: center;
      width: 45vw;
      height: 1.5rem;
      border-radius: 10px ;
      border: 1px grey solid;
    }

    #Deadline_decision {
      align-items: center;
      width: 30vw;
      height: 1.5rem;
      border-radius: 10px ;
      border: 1px grey solid;
    }
    #Hub_decision{
        width: 30vw;
      height: 1.5rem;
      border-radius: 10px ;
      border: 1px grey solid;

    }

    .impacted-people {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap : 2rem;
    

      #concerned_decision {
        width: 80vw;
        height: 1.5rem;
        border-radius: 10px ;
        border: 1px grey solid;
      }
      #expert_decision {
        width: 80vw;
        height: 1.5rem;
        border-radius: 10px ;
        border: 1px grey solid;
      }
    }
  }
}
