@import "./variables.scss";

.reset-password-container {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 50vh;
  max-width: 75vw;
  margin: 0 auto;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20vh;

  label {
    color: $color-default;
    font-size: $font-size-s;
    font-family: $primary-font;
    font-weight: $primary-font-weight;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  input {
    margin-top: 1rem;
    border-radius: $border-radius-s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    height: 2rem;
    font-family: $primary-font;
    border: 1px solid $color-default;
  }

  :hover {
    color: #196c84;
    background-color: $background-color-base;
  }

  button {
    height: 2rem;
    background-color: #196c84;
    color: $background-color-base;
    border-radius: $border-radius-m;
    padding: 0 10%;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .reset-password-container {
    width: 40vw;
    max-height: 40vh;
    top:30vh;

    label {
      font-size: $font-size-m;
      max-width: 70vw;
    }

    input {
      height:2.5rem;
    }

    button {
      height: 2.5rem;
      font-size: $font-size-m;
    }
  }
}

@media screen and (min-width: 1024px) {
  .reset-password-container {
    max-width: 30vw;

  }
}
