body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 15px 20px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.header .logo-container {
  flex-grow: 2;
}
.header .logo-container .img-logo {
  width: 7.8rem;
}

.navBar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar-icons .navBar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 15px;
  margin-right: 20px;
}
.navBar-icons .navBar-list .link-style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.875rem;
}
.navBar-icons .navBar-list :hover {
  text-decoration: underline;
  color: rgb(32, 136, 167);
}

.login-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  gap: 0.5rem;
  border: 1px solid #eff2f7;
  border-radius: 30px;
  cursor: pointer;
  transition: border 500ms ease-in-out;
}
.login-button.login-button:hover {
  border: 1px solid rgb(12, 57, 68);
}

.login-menu {
  position: absolute;
  top: 10%;
  right: 6%;
  min-width: 150px;
  padding: 0 20px 15px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
  z-index: 8888;
  animation: openLoginMenu 350ms 1 ease-in-out;
}
.login-menu > :first-child > :last-child {
  padding-bottom: 15px;
}
.login-menu:before {
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
.login-menu .login-menu-app {
  list-style-type: none;
  padding: 10px 0 0 0;
  margin: 0;
  border-bottom: 1px solid rgb(224, 228, 235);
}
.login-menu .login-menu-app li {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 5px;
}
.login-menu .login-menu-app li :hover {
  text-decoration: underline;
  color: rgb(32, 136, 167);
}
.login-menu .login-menu-app li :active {
  color: rgb(227, 97, 100);
}
.login-menu .login-menu-app li svg {
  padding-top: 10px;
  cursor: pointer;
}
.login-menu .login-menu-app li .li-text {
  padding-left: 10px;
}
.login-menu .login-menu-user {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.login-menu .login-menu-user > :first-child {
  padding-top: 10px;
}
.login-menu .login-menu-user li {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  padding-top: 5px;
}
.login-menu .login-menu-user :hover {
  text-decoration: underline;
  color: rgb(32, 136, 167);
}
.login-menu .login-menu-user :active {
  color: rgb(227, 97, 100);
}
.login-menu .li-text {
  padding-top: 10px;
}

@keyframes openLoginMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.login-menu-hidden {
  display: none;
}

.link-style {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(12, 57, 68);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 350ms ease-out;
}
.link-style :hover {
  color: rgb(32, 136, 167);
}

.active {
  color: rgb(227, 97, 100);
}

.burger-icon {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  margin: 10px 0px 10px 15px;
}
.burger-icon svg line {
  color: rgb(12, 57, 68);
}

.img-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0.2rem;
}

@media screen and (max-width: 768px) {
  .navBar-icons {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .login-menu-app {
    display: none;
  }
  .header .logo-container .img-logo {
    width: 11rem;
  }
  .img-avatar {
    width: 40px;
    height: 40px;
  }
  .login-menu {
    right: 3%;
  }
}
.notifications-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notifications-icon .notification-icon-title {
  padding: 10px 0 0 10px;
}

.notifications-modal {
  position: fixed;
  top: 10vh;
  left: 5vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90vw;
  height: 85vh;
  background-color: green;
  z-index: 9999;
}
.notifications-modal .notifications-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 250px;
  margin: 20px 0;
  padding: 20px 20px;
  background-color: grey;
}
.notifications-modal .notifications-container .notifications-title {
  font-size: 1rem;
  pointer-events: none;
}
.notifications-modal .notifications-container > .icon-close-modal {
  margin-left: 90%;
}
.notifications-modal .notifications-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}
.notifications-modal .notifications-container ul li {
  min-width: 100%;
}/*# sourceMappingURL=styles.css.map */